<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="onlinelogomaker-030822-0822-4397-500.jpg" style="border-radius: 100%;">
    <link rel="stylesheet" href="index.css">
    <title>WorkerTime SignIn</title>
</head>
<body>

    <div id="header-image">
        <img id="image" src="/onlinelogomaker-030822-0822-4397-500.jpg">

    </div>

    <div id="login-container">
        <div id="login-form-section">
            <form id="login-form" action="/login"  method="post">
                <input type="number"  id="workerid" name="loginworkerId" placeholder="Enter Worker Id .." required><br>
                <input type="password" id="password" name="loginpassword" placeholder="Enter Password ..." required><br>

                <div id="Error" style="color: red;"><h5><%= loginError%></h5></div>

                <input type="submit" value="Sign In">
            </form>
        </div>
    </div>
    
    <script src="../users.js"></script>
</body>
</html>